<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
@*        <meta name="viewport" content="width=device-width, initial-scale=1.0">*@
     <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")"rel="stylesheet" type="text/css" />
@*     <link href="@Url.Content("~/Content/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>   
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>

         <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }


      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }


    </style>
</head>
<body>
    <div class="container">

       <div class="masthead">
        <ul class="nav nav-tabs pull-left">
          <li @ViewBag.Home><a href="/">Home</a></li>
          <li @ViewBag.MyWorksheets><a href="/User/">My Worksheets</a></li>
          <li @ViewBag.PublicWorksheets><a href="/Worksheets/">Public Worksheets</a></li>
        </ul>
        <ul class="nav pull-right">
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </ul>
      </div>
      </div>
    <div class="container">

    <!--


    -->
             @RenderBody()
      </div>

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-42376400-1', '360cells.com');
            ga('send', 'pageview');

</script>
</body>
</html>
